<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Facturas</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<div th:replace="~{fragments/header :: navbar}"></div>
<br /><br />
<div class="container">
    <div class="card">
        <header class="card-header friendly-white">
            <p class="card-header-title">
                Nuevo cobro
            </p>
        </header>
        <div class="card-content light-grey">
            <form role="form" method="post" th:action="@{/cash/cash}" th:object="${cash}">
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label" for="paymentDate">Fecha del cobro</label>
                            <div class="control">
                                <input
                                        class="input"
                                        type="date"
                                        id="paymentDate"
                                        name="paymentDate"
                                        th:field="*{paymentDate}"
                                >
                                <p th:if="${#fields.hasErrors('paymentDate')}" class="help is-danger" th:errors="*{paymentDate}"></p>
                                <p th:if="${codiasaCashPresent} == true" class="help is-danger">
                                    Ya hay un elemento de Codiasa en el mes elegido
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">Base 10% IVA</label>
                            <div class="control">
                                <input
                                        class="input"
                                        type="number"
                                        step=".01"
                                        id="iva10base"
                                        name="iva10base"
                                        th:field="*{iva10base}"
                                >
                                <p th:if="${#fields.hasErrors('iva10base')}" class="help is-danger" th:errors="*{iva10base}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">Importe 10% IVA</label>
                            <div class="control">
                                <input
                                        class="input"
                                        type="number"
                                        step=".01"
                                        id="iva10amount"
                                        name="iva10amount"
                                        th:field="*{iva10amount}"
                                >
                                <p th:if="${#fields.hasErrors('iva10amount')}" class="help is-danger" th:errors="*{iva10amount}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">Base 21% IVA</label>
                            <div class="control">
                                <input
                                        class="input"
                                        type="number"
                                        step=".01"
                                        id="iva21base"
                                        name="iva21base"
                                        th:field="*{iva21base}"
                                >
                                <p th:if="${#fields.hasErrors('iva21base')}" class="help is-danger" th:errors="*{iva21base}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">Importe 21% IVA</label>
                            <div class="control">
                                <input
                                        class="input"
                                        type="number"
                                        step=".01"
                                        id="iva21amount"
                                        name="iva21amount"
                                        th:field="*{iva21amount}"
                                >
                                <p th:if="${#fields.hasErrors('iva21amount')}" class="help is-danger" th:errors="*{iva21amount}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label" for="totalPrice">Bruto</label>
                            <div class="control">
                                <input
                                        class="input"
                                        type="number"
                                        step=".01"
                                        id="totalPrice"
                                        name="totalPrice"
                                        th:field="*{totalPrice}"
                                >
                                <p th:if="${priceNotMatch} == true" class="help is-danger">
                                    El bruto no concuerda con la suma de los IVAs
                                </p>
                                <p th:if="${#fields.hasErrors('totalPrice')}" class="help is-danger" th:errors="*{totalPrice}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" class="button green-soil">Crear</button>
                    <a th:href="@{/cash/cash}"
                       class="button blue-machine">
                        Volver
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/js/create_cash.js}"></script>
</body>
</html>