<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Facturas</title>
  <link th:href="@{/css/styles.css}" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<div th:replace="~{fragments/header :: navbar}"></div>
<br /><br />
<div class="container">
  <div class="card">
    <header class="card-header friendly-white">
      <p class="card-header-title">
        Editar pago
      </p>
    </header>
    <div class="card-content light-grey">
      <form role="form" method="post" th:action="@{/cash/cash/{cashId}(cashId=${cash.id})}" th:object="${cash}">
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input
                      type="checkbox"
                      id="codiasa"
                      name="codiasa"
                      th:field="*{codiasa}"
              >
              CODIASA
            </label>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label" for="paymentDate">Fecha del pago</label>
              <div class="control">
                <input
                        class="input"
                        type="date"
                        id="paymentDate"
                        name="paymentDate"
                        th:field="*{paymentDate}"
                >
                <p th:if="${#fields.hasErrors('paymentDate')}" class="help is-danger" th:errors="*{paymentDate}"></p>
                <p th:if="${codiasaCashPresent} == true" class="help is-danger">
                  Ya hay un elemento de Codiasa en el mes elegido
                </p>
              </div>
            </div>
          </div>
          <div class="column" id="base10IvaColumn" th:style="${cash.getCodiasa() ? 'display: none' : 'display: block'}">
            <div class="field">
              <label class="label">Base 10% IVA</label>
              <div class="control">
                <input
                        class="input"
                        type="number"
                        step=".01"
                        id="iva10base"
                        name="iva10base"
                        th:field="*{iva10base}"
                >
                <p th:if="${#fields.hasErrors('iva10base')}" class="help is-danger" th:errors="*{iva10base}"></p>
              </div>
            </div>
          </div>
          <div class="column" id="base21IvaColumn" th:style="${!cash.getCodiasa() ? 'display: none' : 'display: block'}">
            <div class="field">
              <label class="label">Base 21% IVA</label>
              <div class="control">
                <input
                        class="input"
                        type="number"
                        step=".01"
                        id="iva21base"
                        name="iva21base"
                        th:field="*{iva21base}"
                >
                <p th:if="${#fields.hasErrors('iva21base')}" class="help is-danger" th:errors="*{iva21base}"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column" id="cash_money">
            <div class="field">
              <label class="label">Pago en metálico</label>
              <div class="control">
                <input
                        class="input"
                        type="number"
                        step=".01"
                        id="cashMoney"
                        name="cashMoney"
                        th:field="*{cashMoney}"
                >
                <p th:if="${#fields.hasErrors('cashMoney')}" class="help is-danger" th:errors="*{cashMoney}"></p>
                <p th:if="${pricesNotMatch} == true" class="help is-danger">
                  Las sumas de los pagos no concuerdan con el total
                </p>
              </div>
            </div>
          </div>
          <div class="column" id="credit_card">
            <div class="field">
              <label class="label">Pago con tarjeta</label>
              <div class="control">
                <input
                        class="input"
                        type="number"
                        step=".01"
                        id="creditCard"
                        name="creditCard"
                        th:field="*{creditCard}"
                >
                <p th:if="${#fields.hasErrors('creditCard')}" class="help is-danger" th:errors="*{creditCard}"></p>
                <p th:if="${pricesNotMatch} == true" class="help is-danger">
                  Las sumas de los pagos no concuerdan con el total
                </p>
              </div>
            </div>
          </div>
          <div class="column" id="credit_payment">
            <div class="field">
              <label class="label">Pago a crédito</label>
              <div class="control">
                <input
                        class="input"
                        type="number"
                        step=".01"
                        id="creditPayment"
                        name="creditPayment"
                        th:field="*{creditPayment}"
                >
                <p th:if="${#fields.hasErrors('creditPayment')}" class="help is-danger" th:errors="*{creditPayment}"></p>
                <p th:if="${pricesNotMatch} == true" class="help is-danger">
                  Las sumas de los pagos no concuerdan con el total
                </p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <button type="submit" class="button green-soil">Editar</button>
          <a th:href="@{/cash/cash}"
             class="button blue-machine">
            Volver
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script th:src="@{/js/edit_cash.js}"></script>
</body>
</html>