<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Proveedores</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bulma.min.css">
</head>
<body>
<div th:replace="~{fragments/header :: navbar}"></div>
<br/><br/>
<div class="container">
    <h1 class="title">Lista de proveedores</h1>
    <table class="table is-bordered is-striped is-fullwidth" id="suppliersTable">
        <thead>
        <tr>
            <th style="width:10%">#</th>
            <th style="width:30%">Proveedor</th>
            <th style="width:30%">CIF</th>
            <th style="width:20%">Cantidad acumulada</th>
            <th style="width:10%">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "supplier, supplierStat : ${suppliers}">
            <td th:text="${supplierStat.count}"></td>
            <td th:text="${supplier.name}"></td>
            <td th:text="${supplier.cif}"></td>
            <td th:text="${supplier.accumulatedQuantity!=null?supplier.accumulatedQuantity:0.0} + '€'"></td>
            <td>
                <a th:href="@{/suppliers/suppliers/edit/{supplierId}(supplierId=${supplier.id})}"
                   class="button is-small blue-machine">
                    Editar
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<br/><br/>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bulma.min.js"></script>
<script>
    $(document).ready(function()  {
        $('#suppliersTable').DataTable();
    });
    $('#suppliersTable').DataTable({
        'aoColumnDefs': [{
            'bSortable': false,
            'aTargets': [-1]
        }]
    });
</script>
</body>
</html>