<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Proveedores</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bulma.min.css">
</head>
<body>
<div th:replace="~{fragments/header :: navbar}"></div>
<br/><br/>
<div class="container">
    <div class="columns">
        <div class="column is-three-quarters">
            <h1 class="title" th:text="'Lista de proveedores'"></h1>
        </div>
        <div class="column">
            <form th:action="@{/suppliers/searchQuantityByYear}">
                <div class="field has-addons has-addons-right">
                    <div class="control is-expanded">
                        <div class="select is-fullwidth">
                            <select name="year">
                                <option th:value="2023" th:text="2023"></option>
                                <option th:value="2024" th:text="2024"></option>
                            </select>
                        </div>
                    </div>
                    <div class="control">
                        <button type="submit" class="button green-soil">Elegir</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <table class="table is-bordered is-striped is-fullwidth" id="suppliersTable">
        <thead>
        <tr>
            <th style="width:10%">#</th>
            <th style="width:20%">Proveedor</th>
            <th style="width:20%">CIF</th>
            <th style="width:30%" th:text="'Cantidad acumulada año '+ ${year}"></th>
            <th style="width:20%">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "supplier, supplierStat : ${suppliers}">
            <td th:text="${supplierStat.count}"></td>
            <td th:text="${supplier.name}"></td>
            <td th:text="${supplier.cif}"></td>
            <td th:text="${supplier.accumulatedQuantity!=null?supplier.accumulatedQuantity:0.0} + '€'"
                th:style="${supplier.accumulatedQuantity>3000?'color:red':'color:green'}" ></td>
            <td>
                <a th:href="@{/suppliers/suppliers/edit/{supplierId}(supplierId=${supplier.id})}"
                   class="button is-small blue-machine">
                    Editar
                </a>
                <a th:href="@{/suppliers/supplier_bills/{supplierId}(supplierId=${supplier.id})}"
                   class="button is-small is-link is-light">
                    Facturas
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<br/><br/>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bulma.min.js"></script>
<script th:src="@{/js/suppliers.js}"></script>
</body>
</html>