<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Facturas</title>
  <link th:href="@{/css/styles.css}" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<div th:replace="~{fragments/header :: navbar}"></div>
<br /><br />
<div class="container">
  <div class="card">
    <header class="card-header friendly-white">
      <p class="card-header-title">
        Editar factura
      </p>
    </header>
    <div class="card-content light-grey">
      <form role="form" method="post" th:action="@{/bills/bills/{billId}(billId=${bill.id})}" th:object="${bill}">
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label" for="orderNumber">Número de orden</label>
              <div class="control">
                <input
                        class="input"
                        type="number"
                        step="1"
                        placeholder="Inserte el número de orden de la factura"
                        id="orderNumber"
                        name="orderNumber"
                        th:field="*{orderNumber}"
                >
                <p th:if="${#fields.hasErrors('orderNumber')}" class="help is-danger" th:errors="*{orderNumber}"></p>
                <p th:if="${orderNumberRepeated} == true" class="help is-danger">
                  El número de orden está repetido
                </p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label" for="billDate">Fecha de la factura</label>
              <div class="control">
                <input
                        class="input"
                        type="date"
                        id="billDate"
                        name="billDate"
                        th:field="*{billDate}"
                >
                <p th:if="${#fields.hasErrors('billDate')}" class="help is-danger" th:errors="*{billDate}"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">Proveedor</label>
              <div class="select">
                <select th:field="*{supplierId}">
                  <option th:each="supplier: ${suppliers}"
                          th:value="${supplier.id}"
                          th:text="${supplier.name}"
                  ></option>
                </select>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label" for="billNumber">Número de la factura</label>
              <div class="control">
                <input
                        class="input"
                        type="text"
                        placeholder="Inserte el número de la factura"
                        id="billNumber"
                        name="billNumber"
                        th:field="*{billNumber}"
                >
                <p th:if="${#fields.hasErrors('billNumber')}" class="help is-danger" th:errors="*{billNumber}"></p>
                <p th:if="${billNumberRepeated} == true" class="help is-danger">
                  El número de la factura está repetido
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label" for="totalPrice">Total Factura</label>
              <div class="control">
                <input
                        class="input"
                        type="number"
                        step=".01"
                        id="totalPrice"
                        name="totalPrice"
                        th:field="*{totalPrice}"
                >
                <p th:if="${priceNotMatch} == true" class="help is-danger">
                  El total de la factura no concuerda con la suma de los IVAs
                </p>
                <p th:if="${#fields.hasErrors('totalPrice')}" class="help is-danger" th:errors="*{totalPrice}"></p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label" for="billType">Tipo</label>
              <div class="control">
                <input
                        class="input"
                        type="text"
                        placeholder="Inserte el tipo de pago"
                        id="billType"
                        name="billType"
                        th:field="*{billType}"
                >
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label" for="iva21base">IVA 21%</label>
              <div class="control">
                <input
                        class="input"
                        type="number"
                        step=".01"
                        id="iva21base"
                        name="iva21base"
                        th:field="*{iva21base}"
                >
                <p th:if="${#fields.hasErrors('iva21base')}" class="help is-danger" th:errors="*{iva21base}"></p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label" for="iva10base">IVA 10%</label>
              <div class="control">
                <input
                        class="input"
                        type="number"
                        step=".01"
                        id="iva10base"
                        name="iva10base"
                        th:field="*{iva10base}"
                >
                <p th:if="${#fields.hasErrors('iva10base')}" class="help is-danger" th:errors="*{iva10base}"></p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label" for="iva5base">IVA 5%</label>
              <div class="control">
                <input
                        class="input"
                        type="number"
                        step=".01"
                        id="iva5base"
                        name="iva5base"
                        th:field="*{iva5base}"
                >
                <p th:if="${#fields.hasErrors('iva5base')}" class="help is-danger" th:errors="*{iva5base}"></p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label" for="iva4base">IVA 4%</label>
              <div class="control">
                <input
                        class="input"
                        type="number"
                        step=".01"
                        id="iva4base"
                        name="iva4base"
                        th:field="*{iva4base}"
                >
                <p th:if="${#fields.hasErrors('iva4base')}" class="help is-danger" th:errors="*{iva4base}"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label" for="iva0">Exento IVA</label>
              <div class="control">
                <input
                        class="input"
                        type="number"
                        step=".01"
                        id="iva0"
                        name="iva0"
                        th:field="*{iva0}"
                >
                <p th:if="${#fields.hasErrors('iva0')}" class="help is-danger" th:errors="*{iva0}"></p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label" for="retention">Retención</label>
              <div class="control">
                <input
                        class="input"
                        type="number"
                        step=".01"
                        id="retention"
                        name="retention"
                        th:field="*{retention}"
                >
                <p th:if="${#fields.hasErrors('retention')}" class="help is-danger" th:errors="*{retention}"></p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <button type="submit" class="button green-soil">Editar</button>
          <a th:href="@{/bills/bills}"
             class="button blue-machine">
            Volver
          </a>
          <button th:if="${priceNotMatch} == true" type="submit" class="button red-blood" style="float:right;"
                  th:formaction="@{/bills/forcedmodification/{billId}(billId=${bill.id})}">
            Forzar modificación
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>