.light-grey{
    background-color:#f0f0f0!important;
}
.friendly-white{
    background-color:#fbfbfb!important;
}
.green-soil{
    background-color:#769368!important;
    color:white!important;
}
.blue-machine{
    background-color:#5D67AF!important;
    color:white!important;
}
.red-blood{
    background-color:#C1474E!important;
    color:white!important;
}
.hard-grey{
    background-color:#B1ADAD!important;
    color:white!important;
}
.hard-green{
    background-color:#7F8C79!important;
    color:white!important;
}
html, body{
    background-color: #E3E6E6;
    height: 130%;
}
.is-small{
    border-radius: 5px!important;
}
.gradient-custom {
  /* fallback for old browsers */
  background: #ECECEC;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(236, 236, 236, 1), rgba(214, 200, 198, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(236, 236, 236, 1), rgba(214, 200, 198, 1))
}