<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Facturas</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<div th:replace="~{fragments/header :: navbar}"></div>
<br /><br /><br />
<div class="container">
    <article class="message is-large">
        <div class="message-body">
            Aplicación para guardar facturas. Guardar proveedores antes de insertar facturas. Para sacar un reporte, dirigirse a la pestaña de Imprimir
        </div>
    </article>
</div>

</body>
</html>